<div class="container">
  <h2 class="mt-4 mb-4 ">ユーザー情報編集</h2>
  <%= form_with model: [:admins, @user], local: true do |f| %>
    <div class="row mb-3">
      <div class="col-3 offset-2"><%= f.label :ユーザー画像 %></div>
      <div class="col-3"><%= f.attachment_field :user_image %></div>
    </div>
    <div class="row mb-3">
      <div class="col-3 offset-2"><%= f.label :ユーザーネーム %></div>
      <div class="col-3"><%= f.text_field :name, autofocus: true %></div>
    </div>
    <div class="row mb-3">
      <div class="col-3 offset-2"><%= f.label :年代 %></div>
      <div class="col-3"><%= f.select :age, User.ages.keys, {} %></div>
    </div>
    <div class="row mb-3">
      <div class="col-3 offset-2"><%= f.label :メールアドレス %></div>
      <div class="col-3"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
    </div>
    <div class="row mb-3">
      <div class="col-2 offset-5"><%= f.submit "変更を保存", class: "btn btn-success" %></div>
      <div class="col-2"><%= link_to "退会する", admins_user_path(@user), method: :delete, "data-confirm" => "本当に削除してもよろしいですか？", class: "glyphicon glyphicon-tint btn btn-danger" %></div>
    </div>
  <% end %>
</div>