<div class="container mt-5 mb-5">
  <h2 class="mt-4 mb-5">アイデア投稿一覧<span class="h4"> (全<%= @posts.count %>件)</span></h2>
  <table class="table table-hover table-inverse">
    <thead class="bg-light">
      <tr>
        <th>アイデア名</th>
        <th>ユーザー名</th>
        <th>投稿日</th>
        <th colspan=5></th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.post_name, admins_post_path(post) %></td>
        <td><%= link_to post.user.name, admins_user_path(post.user) %></td>
        <td><%= post.created_at.to_s(:datetime_ymd) %></td>
        <td><%= post.likes.count %>いいね</td>
        <td><%= post.post_comments.count %>コメント</td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-center"> <!-- ページング機能　-->
    <%= paginate @posts %>
  </div>
</div>