<header class="header-bg-image">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <a class="navbar-brand p-3 text-light" href="/"><span class="h2">Aha!</span></a>
      </div>
      <div class="col-6 offset-4 text-center d-flex align-items-center justify-content-end">
      <% if user_signed_in? %>
        <tb class="col-6">こんにちは <span class="font-weight-bold text-light h5"><%= current_user.name %></span> さん</tb>
        <tb class="col-4"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete,class: 'btn btn-outline-light' %></tb>
      <% elsif admin_signed_in? %>
        <tb class="col-6">こんにちは <span class="font-weight-bold text-light h5">管理者</span> さん</tb>
        <tb class="col-4"><%= link_to 'ログアウト',destroy_admin_session_path,method: :delete,class: 'btn btn-outline-light' %></tb>
      <% else %>
        <tb class="col-6">こんにちは <span class="font-weight-bold text-light h5" >ゲスト</span> さん</tb>
        <tb class="col-3"><%= link_to 'ログイン',new_user_session_path,class: 'btn btn-outline-light'%></tb>
        <tb class="col-3"><%= link_to '新規登録',new_user_registration_path,class: 'btn btn-outline-light'%></tb>
      <% end %>
      </div>
    </div>
    <% if admin_signed_in? %>
    <% else %>
    <div class="row mt-2 mb-3 d-flex align-items-center justify-content-center">
      <% if user_signed_in? %>
      <div class="col-4 text-center d-flex justify-content-end">
        <tb><%= link_to 'アイデア投稿',new_users_post_path,class: 'btn btn-info rounded-pill mr-3' %></tb>
        <tb><%= link_to 'アイデア募集',new_users_invite_path,class: 'btn btn-success rounded-pill' %></tb>
      </div>
      <% end %>
      <div class="col-8 text-center">
        <%= form_with url:users_search_path, method: :get, local: true do |f| %>
          <tb><%= f.text_field 'search[value]', class: "col-6" %></tb>
          <tb><%= f.select 'search[model]', options_for_select({ "アイデア投稿" => "post", "アイデア投稿 タグ" => "tag", "アイデア募集" => "invite", "アイデア募集 タグ" => "invite_tag" }), class: "col-2" %></tb>
          <tb><%= f.submit "検索", class: "btn-secondary" %></tb>
        <% end %>
      </div>
    </div>
    <% end %>
    <div class="row mb-2 justify-content-center">
    <% if user_signed_in? %>
      <tb><%= link_to 'マイページ',users_user_path(id: current_user),class: 'nav-link text-dark fas fa-user-alt' %></tb>
      <tb class="mr-3 ml-3"><%= link_to 'Aha!について',about_path,class: 'nav-link text-dark fas fa-smile' %></tb>
      <tb class="mr-3"><%= link_to 'アイデア投稿一覧',users_posts_path,class: 'nav-link text-dark fas fa-lightbulb' %></tb>
      <tb><%= link_to 'アイデア募集一覧',users_invites_path,class: 'nav-link text-dark fas fa-edit' %></tb>
    <% elsif admin_signed_in? %>
      <tb><%= link_to 'ユーザー一覧',admins_users_path,class: 'nav-link text-dark fas fa-user-alt' %></tb>
      <tb class="mr-3 ml-3"><%= link_to 'アイデア投稿一覧',admins_posts_path,class: 'nav-link text-dark fas fa-lightbulb' %></tb>
      <tb><%= link_to 'アイデア募集一覧',admins_invites_path,class: 'nav-link text-dark fas fa-edit' %></tb>
    <% else %>
      <tb><%= link_to 'Aha!について',about_path,class: 'nav-link text-dark fas fa-smile' %></tb>
      <tb class="mr-3 ml-3"><%= link_to 'アイデア投稿一覧',users_posts_path,class: 'nav-link text-dark fas fa-lightbulb' %></tb>
      <tb><%= link_to 'アイデア募集一覧',users_invites_path,class: 'nav-link text-dark fas fa-edit' %></tb>
    <% end %>
    </div>
  </div>
</header>